:root {
    --nav-width: 110px;
    --border-radius-angle: 15px;
    --box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);

    // Palette
    --color-1: #161619;
    --color-2: #fff;
    --color-3: #f1f2f5;
    --color-4: #3d425c;
    --color-5: #3d6cee;
    --color-6: #d1dafe;
    --color-7: #20232a;
}
